/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  --accent: #ffa200;

  --nordbg: #1d1f21;
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  border: solid 2px var(--accent);
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--nordbg);
  background-size: 100% 600px;

  word-wrap: break-word;
  overflow-wrap: break-word;

  color: var(--nord5);
  font-size: 14px;
  line-height: 1.7;

  --sb-size: 12px;

  display: flex;
  flex-direction: column;
  max-width: 100vw;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--nordbg);
}

body::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-left: 2px solid var(--nordbg);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

main {
  max-width: calc(min(100%, 720px));
  margin: auto;
  padding: 4em 2em;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  main {
    padding: 0.5em 0;
  }

  .prose p,
  .prose ul,
  .prose ol,
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose pre,
  .prose blockquote,
  .prose .title .date {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .prose ul,
  .prose ol {
    padding-left: 3rem;
  }

  .prose .title .date {
    margin-bottom: 2rem;
  }
}

h1,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
h1 {
  font-size: 2.25em;
}
h2 {
  line-height: 1.2;
  font-size: 2em;
}

* + h2 {
  margin: 5rem 0 0.5rem 0;
}

h2::before {
  content: "##";
  display: inline-block;
  margin-right: 0.5rem;
}

h3 {
  font-size: 1.437em;
}

h3::before {
  content: "###";
  display: inline-block;
  margin-right: 0.5rem;
}

h4 {
  font-size: 1.333em;
}

h4::before {
  content: "####";
  display: inline-block;
  margin-right: 0.5rem;
}

h5 {
  font-size: 1.25em;
}

h5::before {
  content: "#####";
  display: inline-block;
  margin-right: 0.5rem;
}

strong,
b {
  font-weight: 700;
}
a {
  color: var(--nord13);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 1em;
  border: 1px solid var(--nord2);
  box-sizing: border-box;
}
code {
  padding: 3px 6px;
  border: 1px solid var(--nord2);
  border-radius: 4px;
  white-space: nowrap;
  overflow-wrap: break-word;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  color: #ffffffbb;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--nord4));
}
@media (max-width: 720px) {
  body {
    font-size: 15px;
  }
  main {
    padding: 0.5em 0;
  }
}

hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid var(--nord2);
}

strong,
em {
  color: var(--nord8);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
